.has-background-image {
    background-color: #F5F8FD;
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 120% auto;
}

@media only screen and (max-width: 768px) {
    .has-background-image {
        background-image: url("images/background.jpg");
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: auto 70%;
    }
    
    .calculator {
        align-self: start;
    }
}

